body{
    background-color:darkgrey;
}
a{
    text-decoration: dimgrey;
    border-bottom: dodgerblue;
}
.fa{
    color: mediumblue;
}
.box-center{
    background-color:whitesmoke;
    padding: 60px 10px;
    margin: 30px 0px;
}
.box{
    padding: 60px 0px;
}